.action-icon {
    cursor: pointer;;
}
.icon-danger:hover {
    color: theme-color("danger");
}
.action-pane {
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 1.25rem;
    visibility: hidden;
    position: absolute;
}
.task-card:hover .action-pane {
    visibility: visible;
}