<div class="card task-card mt-2" [ngClass]="{ 'overdue' : isOverdue }">
    <div class="card-body" *ngIf="!isLoading; else Loader">
        <div class="card-title">
            <span class="h5">{{ taskItem.message }}</span>
        </div>
        <div class="col-12 px-0">
            <span class="text-muted" *ngIf="taskItem.assigned_name; else NoAssignedName">{{ taskItem.assigned_name }}</span>
            <span class="float-right" *ngIf="taskItem.due_date; else NoDueDate"> {{ taskItem.due_date | dateFormat }} </span>
        </div>
        <div class="action-pane">
            <span class="float-right"><i class="fa fa-trash text-muted action" (click)="deleteSelf()"></i></span>
        </div>
        <!-- <details>
            <summary>Debug</summary>
            <pre><code>{{ taskItem | json }}</code></pre>
        </details> -->
    </div>
</div>
<ng-template #NoAssignedName>
    <span class="text-muted">Unassigned</span>
</ng-template>
<ng-template #NoDueDate>
    <span class="float-right font-italic">No Due Date</span>
</ng-template>
<ng-template #Loader>
    <div class="card-body text-center">
        <i class="fa fa-spinner fa-spin text-muted"></i>
        <p class="text-muted">Please wait</p>
    </div>
</ng-template>