<app-task-item-edit *ngIf="inEditMode" [taskItem]="taskItem" (onCancel)="inEditMode=false" (onSave)="updateSelf($event)">
</app-task-item-edit>
<div *ngIf="!inEditMode" class="card task-card mt-3" [ngClass]="{ 'overdue' : isOverdue }" [draggable]="!isLoading" (dragstart)="onDragStart($event)" (dragend)="onDragComplete($event)" [attr.data-taskid]="taskItem.id" @enterLeaveTransition>
    <div class="card-body" *ngIf="!isLoading; else Loader">
        <div class="card-title">
            <div class="row">
                <div class="col-12 text-left">
                    <ng-container *ngIf="taskItem.assigned_name; else NoAssignedName">
                        <img [src]="userDisplayPicture" class="display-picture d-inline-block" alt="User Display Picture" />
                        <div class="ml-2 text-muted font-weight-semi-bold d-inline-block" *ngIf="taskItem.assigned_name">{{ taskItem.assigned_name }}</div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-12 px-0">
            <span class="h5">{{ taskItem.message }}</span>
        </div>
        <!-- <div class="col-12 px-0">
            <details>
                <summary>Debug</summary>
                <pre><code>{{ taskItem | json }}</code></pre>
            </details>
        </div> -->
        <hr>
        <div class="col-12 px-0 mt-2">
            <div class="row">
                <div class="col text-left">
                    <ng-container *ngIf="taskItem.priority; else NoPriority">
                        <ng-container *ngFor="let priority of priorities">
                            <div class="text-muted font-weight-semi-bold" *ngIf="taskItem.priority === priority.value">
                                <span [ngClass]="priority.styleClass">
                                    <i class="fa fa-circle"></i>
                                </span> 
                                <span class="ml-1">{{ priority.label }}</span>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="col text-right">
                    <span *ngIf="taskItem.due_date; else NoDueDate" class="text-muted font-weight-semi-bold"> {{ taskItem.due_date | dateFormat:false }} </span>
                </div>
            </div>
        </div>
        <div class="action-pane">
            <i class="fa fa-pencil action mr-3" title="Edit this task" (click)="setEditMode()"></i>
            <i class="fa fa-trash action" title="Delete this task" (click)="deleteSelf()"></i>
        </div>
    </div>
</div>
<ng-template #NoPriority>
    <span class="text-muted">No Priority</span>
</ng-template>
<ng-template #NoAssignedName>
    <span class="text-muted">Unassigned</span>
</ng-template>
<ng-template #NoDueDate>
    <span class="text-muted">No Due Date</span>
</ng-template>
<ng-template #Loader>
    <div class="card-body text-center">
        <p>
            <i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
        </p>
        <p class="text-muted">Please wait</p>
    </div>
</ng-template>