<div class="card task-card editing">
    <div class="card-body">
        <form [formGroup]="editForm" (submit)="save()">
            <div class="row">
                <div class="col-12">
                    <div class="form-group text-left">
                        <label>Assign Task To</label>
                        <select class="form-control" formControlName="assigned_to">
                            <option value="" disabled selected>Select user</option>
                            <option [value]="user.id" *ngFor="let user of users">{{user.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Task Description<sup class="text-danger font-weight-bold">*</sup></label>
                        <textarea class="form-control" placeholder="Enter task description here" formControlName="message">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Priority</label>
                        <select class="form-control" formControlName="priority">
                            <option *ngFor="let p of priorities" [value]="p.value">
                                {{p.label}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group text-right">
                        <label class="float-left">Due Date</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                            <input type="text" formControlName="due_date" class="form-control" placeholder="Set due date" bsDatepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-secondary float-right" type="button" (click)="onCancelled()" [disabled]="isBeingSaved"><i class="fa fa-times"></i> Cancel</button>
                    <button class="btn btn-success btn-success float-right mr-2" type="submit" [disabled]="!editForm.valid"><i class="fa" [ngClass]="isBeingSaved ? 'fa-spin fa-spinner' : 'fa-check'"></i> {{ isBeingSaved ? 'Saving' : 'Save' }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
