<div class="container-fluid h-100">
    <ng-container *ngIf="!isLoading; else LoadingScreen">
        <div class="row mt-4 justify-content-md-center">
            <div class="col-sm-12 col-md-auto mb-2">
                <div class="btn-group w-100" dropdown placement="bottom right">
                    <button id="button-animated" dropdownToggle type="button" class="btn btn-light btn-lg dropdown-toggle" aria-controls="dropdown-animated">
                        Group By: <span class="font-weight-bold">{{ selectedTaskGroup.displayName }}</span> <span class="caret"></span>
                    </button>
                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-animated">
                        <li role="menuitem" *ngFor="let taskGroup of taskGroups" (click)="updateGrouping(taskGroup)">
                            <span class="h5 clickable dropdown-item">{{ taskGroup.displayName }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-2">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" [(ngModel)]="searchTerm" placeholder="Type to search" class="form-control"/>
                </div>
            </div>
            <div class="col-sm-12 col-md-auto">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Click to select date range" (bsValueChange)="onDateRangeChange($event)" [bsConfig]="{ showClearButton: true }" bsDaterangepicker>
                </div>
            </div>
        </div>    
        <div class="row mt-4 board-container justify-content-md-center">
            <ng-container *ngFor="let value of selectedTaskGroup.values; index as i">
                <app-task-board class="col-sm-12 col-md-auto restrict-width-md"
                [property]="selectedTaskGroup.propertyName"
                [value]="value"
                [title]="selectedTaskGroup.displayLabels[i]" 
                [displayPicture]="(selectedTaskGroup.displayPictures && selectedTaskGroup.displayPictures[i]) || ''" 
                [filterDateRange]="filterDateRange" 
                [filterTerm]="searchTerm">
            </app-task-board>
        </ng-container>
    </div>
</ng-container>
</div>
<ng-template #LoadingScreen>
    <div class="d-flex align-items-center justify-content-center text-light h-100" @loadingScreenExit>
        <div class="text-center">
            <p class="mt-4"><i class="fa fa-spin fa-spinner fa-3x"></i></p>
            <p class="mt-2 h3">"{{ loadingQuote.quote }}"</p>
            <p class="mt-1 h5 font-italic"> - {{ loadingQuote.author }}</p>
        </div>
    </div>
</ng-template>