:host {
    height: 100%;
}
.board-outline {
    overflow-y: scroll;
    overflow-x: auto;
}
.card-header {
    .badge {
        font-size: inherit;
    }
}
.card-body {
    padding-top:0.5rem;
    background-image: url("/assets/bg-texture.png");
}
.task-board {
    box-shadow: 0 0 10px 0 #333;
}