:host {
    height: 100%;
}
.title {
    font-weight: bold;
    background-color: rgba(220, 220, 220);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.board-outline {
    padding-left: 1rem;
    padding-right: 1rem;
    // box-shadow: 0 0 5px 0px #000;
    border-radius: 10px;
    border: 2px solid black;
    height: 100%;
}