:host {
    height: 100%;
}
.board-outline {
    overflow-y: scroll;
    overflow-x: auto;
}
.action {
    .action-danger:hover {
        color: red;
    }
}
.card-header {
    font-weight: 1rem;
}
.task-board {
    box-shadow: 0 0 10px 0 #333;
}