/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100vh;
    font-size: 13px;
}
body {
    font-family: 'Mulish', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, rgba(15,150,218,0.90) 0%, rgba(0,20,255,0.71) 100%);
}
.action {
    cursor: pointer;
    font-size: 1.25rem !important;
    color: #6c757d !important;
    transition: color .25s ease-out !important;
}
.action:hover {
    color: #111 !important;
}
.monospaced-font {
    font-family: 'Courier New', Courier, monospace;
}
.text-semi-muted {
    color: rgb(81, 56, 94) !important;
}
.font-weight-semi-bold {
    font-weight: 600;
}
.task-card {
    box-shadow: 0 0 2px 0 #444;
    transition: all .2s ease-in-out;
    border-left-width: 5px;
    border-left-color: cornflowerblue;
    cursor: pointer;
    background-color: #f7f7f7;
    
    .display-picture {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    textarea, input[type='text'], input[type='date'], select {
        font-size: 1.2rem;
    }

    button {
        font-size: 1.1rem;
    }
}
.task-card.overdue {
    border-left-color: deeppink;
}
.task-card.editing {
    border-left-color: #fff700;
}
.task-card:hover {
    box-shadow: 0 0 4px 0 #000;
    background-color: #fff;
}